# Virtual Environment
agentspf/

# Python Files
__pycache__/
*.py[cod]
*.egg-info/

# Configs/IDE
.env
.vscode/
.idea/

# Test and compilation caches
.pytest_cache/
.mypy_cache/
dist/
build/

# Local Data/DBs
dataset/
vector_db/